* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fonts */
.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.work-sans-medium {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.work-sans-semibold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.work-sans-bold {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* shared style */
.section-title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.82rem;
  color: #131313;
  margin-bottom: 24px;
}
.section-description {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #727272;
}
.flex {
  display: flex;
}
.max-width {
  max-width: 1200px;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.primary-btn {
  padding: 20px 24px;
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.25rem;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 50px;
  cursor: pointer;
}
/* header styles */
.header-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  background-color: rgb(255, 245, 232);
}
.header-title {
  font-size: 4rem;
}
.header-description {
  padding: 30px 0px;
  line-height: 26px;
}
.banner-img {
  width: 100%;
  margin-bottom: 50px;
}
/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.nav-links {
  gap: 40px;
}
.nav-links .nav-item {
  list-style: none;
}
.nav-item .nav-link {
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
}
/* feature styles */
.feature-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 85px 0px 130px 0px;
}
.feature {
  gap: 70px;
  align-items: center;
}
.light-gray-word {
  color: #727272;
  font-weight: 500;
}
.orange-word {
  color: #ff900e;
}
.feature-description {
  padding: 24px 0px 32px 0px;
  line-height: 26px;
}
/* facts style */
.facts-carts {
  justify-content: space-around;
}
.facts-cart {
  padding: 30px 40px;
  text-align: center;
  border: 2px solid #ff900e;
  border-radius: 8px;
  margin: 80px 0px 150px 0px;
}
.facts-cart-number {
  font-size: 2.8rem;
  color: #424242;
  padding: 10px 0px 5px 0px;
}
.facts-cart-title {
  font-size: 20px;
  color: #727272;
}
.facts-description {
  width: 540px;
  line-height: 28px;
}
/* sponsor styles */
.sponsor-description{
  width: 540px;
  margin: 0 auto;
  line-height: 28px;
  margin-bottom: 50px;
}
.sponsor-img-container{
  justify-content: space-between;
  margin-bottom: 130px;
}
.sponsor-img{
  filter: grayscale(100%);
}

/* responsive media quarry */
@media screen and (max-width: 576px) {
  .navbar,
  .facts-carts,
  .sponsor-img-container {
    flex-direction: column;
  }
  .feature {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .nav-links {
    margin-top: 10px;
  }
  .header-title {
    font-size: 3rem;
  }
  .header-description {
    width: 500px;
    margin: 0 auto;
  }
  .banner-img {
    padding: 0px 20px;
  }
  .feature-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0px;
  }
  .feature-content {
    text-align: center;
    padding: 30px 0px 0px 0px;
  }
  .facts-container {
    width: 70%;
    text-align: center;
    margin-top: 40px;
  }
  .facts-cart {
    width: 100%;
    padding: 30px 40px;
    margin: 20px 0px;
  }
  .facts-description {
    width: 400px;
    margin: 0 auto;
  }
  .sponsor-container{
    padding: 60px 0px 0px 0px;
  }
  .sponsor-description{
  width: 450px;
  margin: 0 auto;
  line-height: 28px;
  margin-bottom: 50px;
}
.sponsor-img-container{
  width: 30%;
  margin: 0 auto;
  gap: 30px;
  padding-bottom: 20px;
}
}
